sudo: true
language: python
dist: xenial
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8-dev"
install:
  # Install specific version of exiftool
  - wget https://sno.phy.queensu.ca/~phil/exiftool/Image-ExifTool-11.11.tar.gz && gzip -dc Image-ExifTool-11.11.tar.gz | tar -xf - && cd Image-ExifTool-11.11 && perl Makefile.PL && sudo make install
  - cd ..
  - sudo rm -f /etc/ImageMagick-6/policy.xml
  - sudo apt-get install xvfb libreoffice libfile-mimeinfo-perl inkscape poppler-utils qpdf imagemagick -y
  - pip install xvfbwrapper
  - python setup.py install
  - pip install pytest
  - python3 -m pip install -U mypy
  

# command to run tests
script:
  - "cd ${TRAVIS_BUILD_DIR} && py.test tests"

#  - "cd ${TRAVIS_BUILD_DIR} && mypy preview_generator --ignore-missing-imports --disallow-untyped-defs"


                              
