---
sudo: true
language: python
dist: xenial

install:
  - sudo rm -f /etc/ImageMagick-6/policy.xml
  - sudo apt-get install xvfb libreoffice libfile-mimeinfo-perl inkscape poppler-utils qpdf imagemagick libimage-exiftool-perl ufraw-batch ffmpeg ghostscript libsecret-1-0 -y
  - DRAWIO_VERSION="12.6.5" && curl -LO https://github.com/jgraph/drawio-desktop/releases/download/v${DRAWIO_VERSION}/draw.io-amd64-${DRAWIO_VERSION}.deb && sudo dpkg -i draw.io-amd64-${DRAWIO_VERSION}.deb
  - pip install xvfbwrapper
  - python setup.py install
  - pip install pytest
  - python3 -m pip install -U mypy

before_script:
  - export DISPLAY=:99.0
  - which Xvfb
  - Xvfb :99 -screen 0 1x1x16 > /dev/null 2>&1 &
# command to run tests
script:
  # FIXME - G.M - 2019-11-07 - Exclude stl file from tests as vtk raised "core dumped" error.
  - "cd ${TRAVIS_BUILD_DIR} && pytest tests"

#  - "cd ${TRAVIS_BUILD_DIR} && mypy preview_generator --ignore-missing-imports --disallow-untyped-defs"

jobs:
  include:
    - stage: static-tests
      name: fmt
      python: "3.7"
      before_script:
        - pip install black isort
      script:
        - black --version
        - echo -n "isort " && isort --version-number
        - black -l 100 --exclude '/(\..*)/' --diff --check preview_generator tests setup.py
        - isort --df -c **/*.py
    - stage: static-tests
      name: flake8
      python: "3.7"
      before_script:
        - pip install flake8
      script:
        - flake8 --version
        - flake8
    - stage: static-tests
      name: mypy
      python: "3.7"
      before_script:
        - pip install mypy
      script:
        - mypy --version
        - mypy --ignore-missing-imports --disallow-untyped-defs .
    - stage: tests
      python: "3.5"
    - stage: tests
      python: "3.6"
    - stage: tests
      python: "3.7"
    - stage: tests
      python: "3.8"

stages:
  - static-tests
  - tests
